body {
  color: #333;
  margin: 0 auto;
  width: 600px;
}

#header {
  padding: 25px 0;
  height: 180px;
}

#header img#logo {
  float: right;
}

/* Links */

a {
  color: #C80000;
  text-decoration: none;
}

a.read_more {
  display: inline;
}

/* headers */

h1 {
  font-size: 24px;
}

h1 a.title {
  color: #333;
}

h1 a.title:hover {
  color: #C80000;
}

h3 {
  font-size: 20px;
  padding: 20px 0 20px 0;
  text-decoration: underline;
  font-family: Arial;
  color: #999999;
}

h4 {
  color: #333;
}

/* posts */

div.post_preview {
  padding: 15px 0;
}

div.date {
  font-size: 13px;
  margin: -20px 0 0 -90px;
  float: left;
}

div.post {
  padding: 10px 0 25px 0;
}

div.post p {
  padding: 10px 0;
  line-height: 22px;
}

div.post p em {
  color: #888888;
}

div.post blockquote {
  border-left: 20px solid #C80000;
  margin: 10px 0;
  padding: 10px 50px;
  font-style: italic;
  background-color: #f7f7f7;
}

div.post blockquote span.explanation {
  font-style: none;
}

span.arrow {
  color: #C80000;
}

pre {
  background: #333;
  color: #e5e5e5;
  padding: 10px;
  border-left: 20px solid #C80000;
}

/* utilies */

.clear {
  clear: both;
}

