body {
  color: #333;
  margin: 0 auto;
  width: 600px;
}

#header {
  padding: 25px 0;
  height: 180px;
}

#header img#logo {
  float: right;
}

#main_content {
}


a {
  color: #e30;
  text-decoration: none;
}

a.read_more {
  display: inline;
}

h1 {
  font-size: 24px;
}

h1 a.title {
  color: #333;
}

h1 a.title:hover {
  color: #e30;
}

div.post_preview {
  padding: 15px 0;
}

div.date {
  font-size: 13px;
  margin: -20px 0 0 -90px;
  float: left;
}

div.post {
  padding: 10px 0 25px 0;
}

div.post p {
  padding: 10px 0;
  line-height: 22px;
}

div.post p em {
  color: #b22222;
}

div.post blockquote {
  border-left: 20px solid #b22222;
  margin: 10px 0;
  padding: 10px 50px;
  font-style: italic;
  background-color: #f7f7f7;
}

div.post blockquote span.explanation {
  font-style: none;
}

span.arrow {
  color: #e30;
}

/* utilies */

.clear {
  clear: both;
}

