---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.tags.software.size > 0 -%}
    <h2>:computer: Software</h2>
    <ul>
      {%- for post in site.tags.software -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta mono">{{ post.date | date: date_format }}</span>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.tags.misc.size > 0 -%}
    <h2>:raised_hands: Misc</h2>
    <ul>
      {%- for post in site.tags.misc -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta mono">{{ post.date | date: date_format }}</span>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>