---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  {% assign currentYear = site.time | date: '%Y' %}
  {% assign postYear = page.date | date: '%Y' %}
  {% assign postAge = currentYear | minus: postYear %}

  {% if postAge >= 3 %}
  <div class="warning">
    <p>
      :warning: This post was published more than {{ postAge }} years ago, and parts of its contents are very likely to be obsolete.
      If you think the contents are worth updating, <a href="https://github.com/tonywok/tonywok.github.io/issues">open an issue</a>.
      Otherwise, sit back and enjoy the stroll down memory lane.
    </p>
  </div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <hr>

  <p>See a mistake? <a target="_blank" href="https://github.com/tonywok/tonywok.github.io/issues">Please report it</a></p>

</article>